.Pokemon{
    border: 2px solid white;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    margin: 20px;
    min-width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pohemon-name{
    color: rgb(6, 90, 90);
    text-transform: capitalize;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 10px;
}

.pokemon-type{
    display: flex;
}

.pokemon-type li{
    color: azure;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 165, 160);
    border-radius: 10px;
    width: 50px;
    height: 30px;
    margin: 0px 10px 0px 10px;
    text-transform: uppercase;
}